{{!-- Image With Text Section --}}
<section class="image-text{{#if (eq imagePosition 'right')}} image-text--reversed{{/if}}" style="{{sectionStyle}}">
  <div class="image-text__image">
    <div class="image-text__placeholder">Image</div>
  </div>
  <div class="image-text__content">
    <h2 class="image-text__heading">Page title</h2>
    <p class="image-text__description">Tag a page with <code>{{ghostPageTag}}</code> to display content here.</p>
  </div>
</section>
