{{!-- Announcement Bar Section --}}

<section
  class="announcement-bar{{#if (eq width 'narrow')}} announcement-bar--narrow{{/if}}"
  id="announcement"
  style="{{sectionStyle}}"
>
  <div class="announcement-bar__content">
    {{#if previewText}}
      {{previewText}}
    {{else}}
      Tag #announcement-bar to a published Ghost page.
    {{/if}}
  </div>
</section>
